---
layout: default
---

<header>

								<h1>Hamza SoundBox<br /></h1>
								<p>"Hamza Soundbox" est née d'une admiration pour Hamza El Meknassi. Pour tenter de rendre hommage à cette grande personne, nous souhaitons lui dédicacer notre application mobile en créant une SoundBox à son effigie.</p>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound1();"/>
									</span>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound2();"/>
									</span>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound3();"/>
									</span>
								</article>
								<article class="style4">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound4();"/>
									</span>
								</article>
								<article class="style5">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound5();"/>
									</span>
								</article>
								<article class="style6">
									<span class="image">
										<img src="images/pic01.jpg" alt="" onclick="hamzasound6();"/>
									</span>
								</article>
								  

							</section>
