<footer id="footer">
						<div class="inner">
							<section>
								<h2>Restez en contact</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Nom" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Envoyer" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Nous suivre</h2>
								<ul class="icons">
									<li><a href="https://www.facebook.com/Meknassih" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/meknassih/?hl=fr" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://gitlab.com/ynov-web-mobile/ynov-web-mobile.gitlab.io" class="icon brands style2 fa-gitlab"><span class="label">GitLab</span></a></li>
									<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Hamza SoundBox. Tous droits réservés</li>
							</ul>
						</div>
					</footer>