<head>
		<title>Hamza SoundBox</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="manifest" type="application/json" href="/manifest.json">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="SoundBox Hamza">
		<link rel="apple-touch-icon" href="images/Hamza_Logo-128x128.png">
		<meta name="theme-color" content="#009962" />
		<meta name="description" content="Une SoundBox à l'effigie d'Hamza">

		<script>
			if ('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('/service-worker.js')
						.then((reg) => {
							console.log('Service worker registered.', reg);
						});
				});
			}
		</script>

		<script src="/assets/js/native.fun.js"></script>

</head>
