<!DOCTYPE html>
<html>

{% include head.html %}

<body class="is-preload">
	<div id="wrapper">
		{% include header.html %}
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="generic.html">Contact</a></li>
			</ul>
		</nav>

		<div id="main">
			<div class="inner">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	

</body>

</html>